.title {
  color: #007bff; /* Color azul para el título */
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: center; /* Centramos el título */
}

.values {
  background: #f7f7f7; /* Fondo claro en lugar de amarillo */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 20px;
  padding: 10px;
}

.value {
  border-top: 1px dashed #cccccc; /* Color más suave para la línea de separación */
  color: #555555; /* Color de texto más suave */
  font-size: 1.1rem; /* Tamaño de fuente más grande para los valores */
  margin-top: 10px;
  padding: 5px;
}

.form {
  align-items: center; /* Centrar elementos verticalmente */
  display: flex; /* Flex para alinear elementos en línea */
  flex-wrap: wrap; /* Permitir envolver los elementos en pantallas más pequeñas */
  justify-content: space-between; /* Espacio entre elementos */
  margin-top: 20px;
}

.form label {
  font-weight: bold; /* Negrita para la etiqueta */
  margin-right: 10px; /* Espacio a la derecha de la etiqueta */
}

.form input {
  border: 1px solid #cccccc; /* Borde del input */
  border-radius: 5px; /* Bordes redondeados */
  margin-right: 10px; /* Espacio a la derecha del input */
  padding: 5px 10px;
}

button {
  background-color: #007bff; /* Fondo azul */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Texto blanco */
  cursor: pointer; /* Cursor mano al pasar el mouse */
  padding: 5px 15px;
  transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

button:hover {
  background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}
